apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ba-app
  template:
    metadata:
      labels:
        app: ba-app
    spec:
      containers:
      - name: backend-container
        image: omarsa999/backendimage:latest
        ports:
        - containerPort: 80
        env:
          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: configmap
                key: db_host
          - name: DB_PORT
            valueFrom:
              configMapKeyRef:
                name: configmap
                key: db_port
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: secret
                key: db_name
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: secret
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: secret
                key: password
        resources:
          limits:
            memory: "256Mi"
            cpu: "250m"
          requests:
            memory: "128Mi"
            cpu: "100m"

---

apiVersion: v1
kind: Service
metadata:
  name: ba-service
  namespace: default
  labels:
    app: ba-app
spec:
  selector:
    app: ba-app
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
