apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ba-servicemonitor
  namespace: monitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: ba-app
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: mysql-servicemonitor
  namespace: monitor
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: mysqld-exporter
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: metrics
      interval: 15s
      path: /metrics
